<nav class="main__nav">

    <h1 class="main__nav-logo">Mapbox</h1>

    <ul class="main__nav-navbar">
        <li class="main__nav-navbar_item">
            <a href="#">Ajouter une sortie</a>
        </li>
    </ul>
</nav>